# Dependencies
node_modules

package-lock.json
/.yarn

# Logs
*.log

# Temp directories
.temp
.tmp
.cache

# Generated dirs
dist
.output
.output-*

# Coverage reports
coverage
*.lcov
.nyc_output

# VSCode
.vscode

# Intellij idea
*.iml
.idea

.env
.pnpm-store